<h1 class="mt-5 mb-5">Produtos</h1>
<div class="container card rounded mt-5">
    <table class="table table-striped table align-middle p-3 text-center card-body">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Código de Barras</th>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody class="container-sm">
            <tr *ngFor="let produto of produtos" class="align-bottom text-center">
                <th scope="row ">{{produto.id}}</th>
                <td scope="row">{{produto.codigoBarras}}</td>
                <td scope="row">{{produto.nome}}</td>
                <td scope="row">{{produto.preco | currency: 'BRL'}}</td>
                <td class="text-center">
                <a class="btn btn-outline-primary me-3" type="button">
                <i class="bi bi-pencil-fill" [routerLink]="['/produtos/editar/', produto.id]"></i>
                </a>
                <strong> | </strong>
                <a class="btn btn-outline-danger ms-3" type="button">
                <i class="bi bi-trash-fill" (click)="excluirProduto(produto.id)"></i>
                </a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
<button type="button" class="btn btn-success mt-5 mb-5 text-center" routerLink="/produtos/cadastrar">Cadastrar</button>



